In [1]:
import pandas as pd
import numpy as np

In [2]:
#pd.set_option('display.float_format', '{:.2f}'.format)

In [3]:
from sqlalchemy import create_engine, text
# engine = create_engine('postgresql://username:password@localhost:5432/dbname')
engine = create_engine('postgresql:///cbowers')
connection = engine.connect()

# Prepare Data
1. Manually edit expanded_sales.csv to add column header (using text editor)
2. Load each csv (expanded_sales.csv, expanded_clients.csv, expanded_zip_database.csv)
3. Inspect for types and missing data
4. Impute any missing fields
5. Convert column types as needed
6. Load into Postgres tables

## Client List

In [4]:
df = pd.read_csv("Expanded_clients.csv")

In [5]:
df.head()

,Client ID,Name,Symbol,Last Sale,Market Cap,Cap Float,IPO Year,Sector,Industry,URL
0,1,1347 Capital Corp.,TFSC,9.430,$56.09M,56090000,2014.0,Finance,Business Services,http://www.nasdaq.com/symbol/tfsc
1,2,1347 Property Insurance Holdings Inc.,PIH,7.660,$48.7M,48700000,2014.0,Finance,Property-Casualty Insurers,http://www.nasdaq.com/symbol/pih
2,3,1-800 FLOWERS.COM Inc.,FLWS,10.320,$667.78M,667780000,1999.0,Consumer Services,Other Specialty Stores,http://www.nasdaq.com/symbol/flws
3,4,1st Century Bancshares Inc,FCTY,6.774,$68.73M,68730000,NaN,Finance,Major Banks,http://www.nasdaq.com/symbol/fcty
4,5,1st Constitution Bancorp (NJ),FCCY,11.180,$79.77M,79770000,NaN,Finance,Savings Institutions,http://www.nasdaq.com/symbol/fccy

In [6]:
df[~df["Cap Float"].str.isnumeric()]

,Client ID,Name,Symbol,Last Sale,Market Cap,Cap Float,IPO Year,Sector,Industry,URL
114,115,Amazon.com Inc.,AMZN,383.6600,$178.17B,1.78E+11,1997.0,Consumer Services,Catalog/Specialty Distribution,http://www.nasdaq.com/symbol/amzn
149,150,Amgen Inc.,AMGN,157.6600,$119.93B,1.20E+11,1983.0,Health Care,Biotechnology: Biological Products (No Diagnos...,http://www.nasdaq.com/symbol/amgn
176,177,Apple Inc.,AAPL,129.4950,$754.28B,7.54E+11,1980.0,Technology,Computer Manufacturing,http://www.nasdaq.com/symbol/aapl
556,557,Cisco Systems Inc.,CSCO,29.6100,$151.41B,1.51E+11,1990.0,Technology,Computer Communications Equipment,http://www.nasdaq.com/symbol/csco
601,602,Comcast Corporation,CMCSA,58.5000,$151.82B,1.52E+11,NaN,Consumer Services,Television Services,http://www.nasdaq.com/symbol/cmcsa
885,886,Facebook Inc.,FB,79.8950,$223.63B,2.24E+11,2012.0,Technology,"Computer Software: Programming, Data Processing",http://www.nasdaq.com/symbol/fb
1070,1071,Gilead Sciences Inc.,GILD,102.6100,$154.8B,1.55E+11,1992.0,Health Care,Biotechnology: Biological Products (No Diagnos...,http://www.nasdaq.com/symbol/gild
1097,1098,Google Inc.,GOOG,538.9500,$366.82B,3.67E+11,2004.0,Technology,"Computer Software: Programming, Data Processing",http://www.nasdaq.com/symbol/goog
1294,1295,Intel Corporation,INTC,34.4100,$162.97B,1.63E+11,NaN,Technology,Semiconductors,http://www.nasdaq.com/symbol/intc
1645,1646,Microsoft Corporation,MSFT,43.8550,$359.78B,3.60E+11,1986.0,Technology,Computer Software: Prepackaged Software,http://www.nasdaq.com/symbol/msft
1882,1883,Pangaea Logistics Solutions Ltd.,PANL,2.6292,26.29,#VALUE!,1996.0,Consumer Services,Marine Transportation,http://www.nasdaq.com/symbol/panl
2050,2051,QUALCOMM Incorporated,QCOM,71.5200,$117.98B,1.18E+11,1991.0,Technology,Radio And Television Broadcasting And Communic...,http://www.nasdaq.com/symbol/qcom
2641,2642,VelocityShares Daily 2x VIX Medium Term ETN,TVIZ,21.0000,892332,#VALUE!,NaN,Finance,Investment Bankers/Brokers/Service,http://www.nasdaq.com/symbol/tviz

In [7]:
df[df["Cap Float"] == "#VALUE!"]

,Client ID,Name,Symbol,Last Sale,Market Cap,Cap Float,IPO Year,Sector,Industry,URL
1882,1883,Pangaea Logistics Solutions Ltd.,PANL,2.6292,26.29,#VALUE!,1996.0,Consumer Services,Marine Transportation,http://www.nasdaq.com/symbol/panl
2641,2642,VelocityShares Daily 2x VIX Medium Term ETN,TVIZ,21.0000,892332,#VALUE!,NaN,Finance,Investment Bankers/Brokers/Service,http://www.nasdaq.com/symbol/tviz

In [8]:
# Set the missing cap float values - the values from Market Cap will work here
df.at[1882, "Cap Float"] = df.at[1882, "Market Cap"]
df.at[2641, "Cap Float"] = df.at[2641, "Market Cap"]

In [9]:
# Convert the cap float column to a numeric type
df["Cap Float"] = df["Cap Float"].astype(float)

In [10]:
# Fill missing values for IPO Year to 0
df.fillna({"IPO Year": 0}, inplace=True)

In [11]:
# Convert the IPO year colum to a numeric type
df["IPO Year"] = df["IPO Year"].astype(int)

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2804 entries, 0 to 2803
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Client ID   2804 non-null   int64
 1   Name        2804 non-null   object
 2   Symbol      2804 non-null   object
 3   Last Sale   2771 non-null   float64
 4   Market Cap  2739 non-null   object
 5   Cap Float   2804 non-null   float64
 6   IPO Year    2804 non-null   int64
 7   Sector      2547 non-null   object
 8   Industry    2547 non-null   object
 9   URL         2804 non-null   object
dtypes: float64(2), int64(2), object(6)
memory usage: 219.2+ KB

In [13]:
# df.to_csv("Expanded_clients_clean.csv")

In [14]:
df.columns = [c.replace(" ", "").lower() for c in df.columns] # PostgreSQL doesn't like capitals or spaces
df.to_sql("clients", engine, if_exists='replace')

804

## Sales

In [15]:
df2 = pd.read_csv("Expanded_sales.csv")

In [16]:
df2.head()

,rowid,orderid,orderdate,ordermonthyear,quantity,quote,discountpct,rate,saleamount,customername,...,projectcompletedate,daystocomplete,productkey,productcategory,productsubcategory,consultant,manager,hourlywage,rowcount,wagemargin
0,1914,13729.0,2009-01-01,2009-01-01,9,1800,0.08,200,1640.96,Matt Bertelsons,...,2009-03-01,2,Development - Big Data,Development,Python,Noah Smith,Allen Young,59,1,0.71
1,4031,28774.0,2009-01-01,2009-01-01,32,6400,0.10,200,5707.67,Jessica Thornton,...,2009-02-01,1,Development - Big Data,Development,Market Research,Daniel Tusk,Allen Young,45,1,0.78
2,1279,9285.0,2009-02-01,2009-01-01,3,480,0.06,160,447.11,David O'Rourke,...,2009-04-01,2,NaN,Development,Python,Mason Gibson,Josh Martinez,71,1,0.56
3,5272,37537.0,2009-02-01,2009-01-01,4,500,0.00,125,495.47,Alan Brumley,...,2009-02-01,0,NaN,Training,Java,William Bufont,Bob Turner,62,1,0.50
4,5273,37537.0,2009-02-01,2009-01-01,43,5375,0.07,125,4953.46,Alan Brumley,...,2009-04-01,2,NaN,Training,Strategy,Liam Franklin,Bob Turner,52,1,0.58

In [17]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8316 entries, 0 to 8315
Data columns (total 27 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   rowid                8316 non-null   int64
 1   orderid              8288 non-null   float64
 2   orderdate            8282 non-null   object
 3   ordermonthyear       8292 non-null   object
 4   quantity             8316 non-null   int64
 5   quote                8316 non-null   int64
 6   discountpct          8316 non-null   float64
 7   rate                 8316 non-null   int64
 8   saleamount           8316 non-null   float64
 9   customername         8316 non-null   object
 10  companyname          8316 non-null   object
 11  sector               8316 non-null   object
 12  industry             8316 non-null   object
 13  city                 8315 non-null   object
 14  zipcode              8316 non-null   int64
 15  state                8316 non-null   object
 16  region               8316 non-null   object
 17  projectcompletedate  8316 non-null   object
 18  daystocomplete       8316 non-null   int64
 19  productkey           8285 non-null   object
 20  productcategory      8316 non-null   object
 21  productsubcategory   8316 non-null   object
 22  consultant           8316 non-null   object
 23  manager              8316 non-null   object
 24  hourlywage           8316 non-null   int64
 25  rowcount             8316 non-null   int64
 26  wagemargin           8316 non-null   float64
dtypes: float64(4), int64(8), object(15)
memory usage: 1.7+ MB

In [18]:
df2.columns = [c.replace(" ", "").lower() for c in df2.columns]
df2.to_sql("sales", engine, if_exists='replace')

316

## Zip Codes

In [19]:
df3 = pd.read_csv("Expanded_zip_code_database.csv")

In [20]:
df3.head()

,zip,type,decommissioned,primary_city,acceptable_cities,unacceptable_cities,state,state_name,county,timezone,area_codes,world_region,country,latitude,longitude,irs_estimated_population_2014
0,501,UNIQUE,0,Holtsville,NaN,I R S Service Center,NY,New York,Suffolk County,America/New_York,631,NaN,US,40.81,-73.04,562
1,544,UNIQUE,0,Holtsville,NaN,Irs Service Center,NY,New York,Suffolk County,America/New_York,631,NaN,US,40.81,-73.04,0
2,601,STANDARD,0,Adjuntas,NaN,"Colinas Del Gigante, Jard De Adjuntas, Urb San...",PR,ÊPuerto Rico,Adjuntas Municipio,America/Puerto_Rico,"7,87,939",NaN,US,18.16,-66.72,0
3,602,STANDARD,0,Aguada,NaN,"Alts De Aguada, Bo Guaniquilla, Comunidad Las ...",PR,ÊPuerto Rico,Aguada Municipio,NaN,"7,87,939",NaN,US,18.38,-67.18,0
4,603,STANDARD,0,Aguadilla,Ramey,"Bda Caban, Bda Esteves, Bo Borinquen, Bo Ceiba...",PR,ÊPuerto Rico,Aguadilla Municipio,America/Puerto_Rico,787,NaN,US,18.43,-67.15,0

In [21]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42613 entries, 0 to 42612
Data columns (total 16 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   zip                            42613 non-null  int64
 1   type                           42613 non-null  object
 2   decommissioned                 42613 non-null  int64
 3   primary_city                   42613 non-null  object
 4   acceptable_cities              9023 non-null   object
 5   unacceptable_cities            12313 non-null  object
 6   state                          42613 non-null  object
 7   state_name                     42613 non-null  object
 8   county                         41789 non-null  object
 9   timezone                       40605 non-null  object
 10  area_codes                     39698 non-null  object
 11  world_region                   333 non-null    object
 12  country                        42613 non-null  object
 13  latitude                       42613 non-null  float64
 14  longitude                      42613 non-null  float64
 15  irs_estimated_population_2014  42613 non-null  int64
dtypes: float64(2), int64(3), object(11)
memory usage: 5.2+ MB

In [22]:
df3.columns = [c.replace(" ", "").lower() for c in df3.columns]
df3.to_sql("zips", engine, if_exists='replace')

613

# Scenario 1 
**Business Case: Calculate Market Capitalization by Business Sector**
- Produce a report which will summarize Market Capitalization for each business sector
- Calculation would consist of  summarizing columns F ("Cap Float")
- Report will need to display the following summary:
  - Total Market Capitalization for each business sector
  - List the companies with the  largest capitalization by for each sector

In [23]:
# It's also possible to generate a similar report using pandas
# df.groupby("Sector").sum("Cap Float").sort_values(by="Cap Float", ascending=False)

In [24]:
sql = text("""
WITH SectorMarketCap AS (
    SELECT 
        sector,
        SUM(capfloat) AS total_market_cap
    FROM 
        clients
    GROUP BY 
        sector
),

RankedCompanies AS (
    SELECT 
        sector,
        name,
        symbol,
        marketcap,
        capfloat,
        ROW_NUMBER() OVER (PARTITION BY sector ORDER BY capfloat DESC) AS rn
    FROM 
        clients
)

SELECT 
    smc.sector,
    to_char(smc.total_market_cap, '999,999,999,999,999D99') AS total_market_cap,
    rc.name AS largest_company,
    rc.symbol AS largest_company_symbol,
    rc.marketcap AS largest_company_marketcap
FROM 
    SectorMarketCap smc
JOIN 
    RankedCompanies rc ON smc.sector = rc.sector
WHERE 
    rc.rn = 1
ORDER BY 
    smc.total_market_cap DESC;
""")

result = connection.execute(sql)
df_report = pd.DataFrame(result.fetchall(), columns=result.keys())
connection.close 

df_report

,sector,total_market_cap,largest_company,largest_company_symbol,largest_company_marketcap
0,Technology,"3,614,171,690,000.00",Apple Inc.,AAPL,$754.28B
1,Consumer Services,"1,356,542,840,026.29",Amazon.com Inc.,AMZN,$178.17B
2,Health Care,"1,305,957,330,000.00",Gilead Sciences Inc.,GILD,$154.8B
3,Finance,"469,102,632,332.00",CME Group Inc.,CME,$31.75B
4,Miscellaneous,"253,295,060,000.00",eBay Inc.,EBAY,$70.21B
5,Consumer Non-Durables,"246,313,420,000.00",Mondelez International Inc.,MDLZ,$62.11B
6,Public Utilities,"237,116,200,000.00",Vodafone Group Plc,VOD,$95.17B
7,Capital Goods,"211,407,550,000.00",Illumina Inc.,ILMN,$29.21B
8,Transportation,"138,243,370,000.00",American Airlines Group Inc.,AAL,$36.59B
9,Consumer Durables,"75,598,820,000.00",Sigma-Aldrich Corporation,SIAL,$16.57B
10,Energy,"69,829,710,000.00",Icahn Enterprises L.P.,IEP,$12.02B
11,Basic Industries,"61,160,110,000.00",Stericycle Inc.,SRCL,$11.43B

In [25]:
df_report.to_csv("report1.csv")

# Scenario 2 
**Business Case: Compare sales by industry by zip code:**

- Produce a report which will calculate total Sales per Sector per Industry by zip code
- Report will display the following summary:
  - Calculate total sales for each Sales Sector for each Industry  by zip code
  - List company name, sales per sector, sales per industry

In [26]:
sql = text("""
SELECT 
    sector,
    industry,
    companyname,
    zipcode,
    to_char(sum(saleamount), '999,999,999,999.99') AS total_sales
FROM 
    sales
GROUP BY 
    sector, industry, companyname, zipcode
ORDER BY 
    sector, industry, companyname, zipcode
""")

result = connection.execute(sql)
df_report2 = pd.DataFrame(result.fetchall(), columns=result.keys())

df_report2

,sector,industry,companyname,zipcode,total_sales
0,Basic Industries,Environmental Services,Stericycle Inc.,3053,"7,749.49"
1,Basic Industries,Environmental Services,Stericycle Inc.,3246,"2,473.72"
2,Basic Industries,Environmental Services,Stericycle Inc.,4038,438.30
3,Basic Industries,Environmental Services,Stericycle Inc.,4073,"6,042.58"
4,Basic Industries,Environmental Services,Stericycle Inc.,7016,"4,202.47"
...,...,...,...,...,...
2576,Transportation,Oil Refining/Marketing,Expeditors International of Washington Inc.,60901,"19,912.93"
2577,Transportation,Oil Refining/Marketing,Expeditors International of Washington Inc.,67901,"26,918.13"
2578,Transportation,Oil Refining/Marketing,Expeditors International of Washington Inc.,69101,"5,776.76"
2579,Transportation,Oil Refining/Marketing,Expeditors International of Washington Inc.,89115,"15,519.62"
2580,Transportation,Oil Refining/Marketing,Expeditors International of Washington Inc.,97601,"20,584.26"

In [27]:
df_report2.to_csv("report2.csv")

In [28]:
#connection.close()