# DAT 203 - Lab Assignment #3

- Author: Colin Bowers
- Date: May 27, 2023

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sklearn as sk

In [2]:
import json
def get_data(column, df, key):
    df_temp = pd.DataFrame([])
    for i in column:
        json_data = json.loads(i)
        df1 = pd.DataFrame.from_dict(json_data)
        if len(i) > 2:
            df2 = pd.DataFrame([df1[key][0]])
        else:
            df2 = df1
        df_temp = pd.concat([df_temp, df2], ignore_index=True)

    df = pd.concat([df, df_temp], axis=1)
    return df

## PART I

### 1. Import csv dataset (MOVIE DATASET)

In [3]:
df = pd.read_csv("data/tmdb_5000_movies.csv")

In [4]:
df.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

### 2. Identify what features have missing values

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4803 non-null   int64
 1   genres                4803 non-null   object
 2   homepage              1712 non-null   object
 3   id                    4803 non-null   int64
 4   keywords              4803 non-null   object
 5   original_language     4803 non-null   object
 6   original_title        4803 non-null   object
 7   overview              4800 non-null   object
 8   popularity            4803 non-null   float64
 9   production_companies  4803 non-null   object
 10  production_countries  4803 non-null   object
 11  release_date          4802 non-null   object
 12  revenue               4803 non-null   int64
 13  runtime               4801 non-null   float64
 14  spoken_languages      4803 non-null   object
 15  status                4803 non-null   object
 16  tagline               3959 non-null   object
 17  title                 4803 non-null   object
 18  vote_average          4803 non-null   float64
 19  vote_count            4803 non-null   int64
dtypes: float64(3), int64(4), object(13)
memory usage: 750.6+ KB

> **Features with missing values:**
>
> 1. homepage
> 2. overview
> 3. release_date * 
> 4. runtime * 
> 5. tagline
>
> (*) numeric fields

### 3. Replace missing values with 0

In [6]:
df2 = df.fillna(0)
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4803 non-null   int64
 1   genres                4803 non-null   object
 2   homepage              4803 non-null   object
 3   id                    4803 non-null   int64
 4   keywords              4803 non-null   object
 5   original_language     4803 non-null   object
 6   original_title        4803 non-null   object
 7   overview              4803 non-null   object
 8   popularity            4803 non-null   float64
 9   production_companies  4803 non-null   object
 10  production_countries  4803 non-null   object
 11  release_date          4803 non-null   object
 12  revenue               4803 non-null   int64
 13  runtime               4803 non-null   float64
 14  spoken_languages      4803 non-null   object
 15  status                4803 non-null   object
 16  tagline               4803 non-null   object
 17  title                 4803 non-null   object
 18  vote_average          4803 non-null   float64
 19  vote_count            4803 non-null   int64
dtypes: float64(3), int64(4), object(13)
memory usage: 750.6+ KB

### 4. Split dataset into training and test datasets in 0.7/0.3

In [7]:
from sklearn.model_selection import train_test_split
train, test = train_test_split(df, test_size=0.3)
test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1441 entries, 3576 to 3990
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                1441 non-null   int64
 1   genres                1441 non-null   object
 2   homepage              523 non-null    object
 3   id                    1441 non-null   int64
 4   keywords              1441 non-null   object
 5   original_language     1441 non-null   object
 6   original_title        1441 non-null   object
 7   overview              1441 non-null   object
 8   popularity            1441 non-null   float64
 9   production_companies  1441 non-null   object
 10  production_countries  1441 non-null   object
 11  release_date          1440 non-null   object
 12  revenue               1441 non-null   int64
 13  runtime               1441 non-null   float64
 14  spoken_languages      1441 non-null   object
 15  status                1441 non-null   object
 16  tagline               1185 non-null   object
 17  title                 1441 non-null   object
 18  vote_average          1441 non-null   float64
 19  vote_count            1441 non-null   int64
dtypes: float64(3), int64(4), object(13)
memory usage: 236.4+ KB

### 5. Select all numerical features that can be used to predict ‘vote average’ target

In [8]:
numeric = df.dtypes[df.dtypes != "object"].index
print(numeric)
predictors = [ "budget", "popularity", "revenue", "runtime" ]

train.loc[:, predictors]

Index(['budget', 'id', 'popularity', 'revenue', 'runtime', 'vote_average',
       'vote_count'],
      dtype='object')

        budget  popularity    revenue  runtime
1060  45000000   26.797810  113916474    100.0
2801  12500000    2.950618    1227324     99.0
3636   5000000    6.063868          0    103.0
2138         0   14.211699          0    124.0
1200  40000000   23.331459  191185897    130.0
...        ...         ...        ...      ...
4504         0    0.012942          0      0.0
2629  22000000   12.465400          0     98.0
1384  35000000   40.526587  150483765    109.0
764   80000000   16.848899   39459427    126.0
1643  37000000   11.374306   37962774    110.0

[3362 rows x 4 columns]

### 6. Add three categorical features (for example, original language, status and genres) and transform them into numerical

In [9]:
train = get_data(df['genres'], df, 'name')
train.rename(columns={0: "genre"}, inplace=True)
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4803 non-null   int64
 1   genres                4803 non-null   object
 2   homepage              1712 non-null   object
 3   id                    4803 non-null   int64
 4   keywords              4803 non-null   object
 5   original_language     4803 non-null   object
 6   original_title        4803 non-null   object
 7   overview              4800 non-null   object
 8   popularity            4803 non-null   float64
 9   production_companies  4803 non-null   object
 10  production_countries  4803 non-null   object
 11  release_date          4802 non-null   object
 12  revenue               4803 non-null   int64
 13  runtime               4801 non-null   float64
 14  spoken_languages      4803 non-null   object
 15  status                4803 non-null   object
 16  tagline               3959 non-null   object
 17  title                 4803 non-null   object
 18  vote_average          4803 non-null   float64
 19  vote_count            4803 non-null   int64
 20  genre                 4775 non-null   object
dtypes: float64(3), int64(4), object(14)
memory usage: 788.1+ KB

In [10]:
train["original_language"] = train["original_language"].astype('category')
train["lang_code"] = train["original_language"].cat.codes

train["status"] = train["status"].astype('category')
train["status_code"] = train["status"].cat.codes

train["genre"] = train["genre"].astype('category')
train["genre_code"] = train["genre"].cat.codes

predictors += ["lang_code", "status_code", "genre_code"]
print(predictors)

train.info()

['budget', 'popularity', 'revenue', 'runtime', 'lang_code', 'status_code', 'genre_code']
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 24 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4803 non-null   int64
 1   genres                4803 non-null   object
 2   homepage              1712 non-null   object
 3   id                    4803 non-null   int64
 4   keywords              4803 non-null   object
 5   original_language     4803 non-null   category
 6   original_title        4803 non-null   object
 7   overview              4800 non-null   object
 8   popularity            4803 non-null   float64
 9   production_companies  4803 non-null   object
 10  production_countries  4803 non-null   object
 11  release_date          4802 non-null   object
 12  revenue               4803 non-null   int64
 13  runtime               4801 non-null   float64
 14  spoken_languages      4803 non-null   object
 15  status                4803 non-null   category
 16  tagline               3959 non-null   object
 17  title                 4803 non-null   object
 18  vote_average          4803 non-null   float64
 19  vote_count            4803 non-null   int64
 20  genre                 4775 non-null   category
 21  lang_code             4803 non-null   int8
 22  status_code           4803 non-null   int8
 23  genre_code            4803 non-null   int8
dtypes: category(3), float64(3), int64(4), int8(3), object(11)
memory usage: 705.9+ KB

### 7. Fill the training and test data with required information:

In [11]:
all_features = predictors + ["vote_average"]
train2 = train[all_features].dropna()
train2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4801 entries, 0 to 4802
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   budget        4801 non-null   int64
 1   popularity    4801 non-null   float64
 2   revenue       4801 non-null   int64
 3   runtime       4801 non-null   float64
 4   lang_code     4801 non-null   int8
 5   status_code   4801 non-null   int8
 6   genre_code    4801 non-null   int8
 7   vote_average  4801 non-null   float64
dtypes: float64(3), int64(2), int8(3)
memory usage: 239.1 KB

### 8. Import linear regression function from sklearn:

In [12]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [13]:
X = train2[predictors]
y = train2["vote_average"]
X.head()

,budget,popularity,revenue,runtime,lang_code,status_code,genre_code
0,237000000,150.437577,2787965087,162.0,7,1,0
1,300000000,139.082615,961000000,169.0,7,1,1
2,245000000,107.376788,880674609,148.0,7,1,0
3,250000000,112.312950,1084939099,165.0,7,1,0
4,260000000,43.926995,284139100,132.0,7,1,0

In [14]:
model.fit(X, y)
print(f"intercept: {model.intercept_}")
print(f"slope: {model.coef_}")

intercept: 3.92636154511224
slope: [-5.52551097e-09  8.41603892e-03  7.68688066e-10  1.83253906e-02
  6.37081992e-03  6.39914087e-02  2.46381908e-03]

### 9. Print the score of your model.

In [15]:
m1_score = model.score(X, y)
m1_score

0.19603441657072218

## PART II

### 10. Remove features with low variance and apply linear regression:

In [16]:
from sklearn.feature_selection import VarianceThreshold

In [17]:
sel = VarianceThreshold(threshold=(.8 * (1 - .8))) 
#X2 = sel.fit_transform(X)
sel.fit(X)
new_cols = sel.get_support()
X2 = X.iloc[:,new_cols]
X2

         budget  popularity     revenue  runtime  lang_code  genre_code
0     237000000  150.437577  2787965087    162.0          7           0
1     300000000  139.082615   961000000    169.0          7           1
2     245000000  107.376788   880674609    148.0          7           0
3     250000000  112.312950  1084939099    165.0          7           0
4     260000000   43.926995   284139100    132.0          7           0
...         ...         ...         ...      ...        ...         ...
4798     220000   14.269792     2040920     81.0          8          -1
4799       9000    0.642552           0     85.0          7          -1
4800          0    1.444476           0    120.0          7          -1
4801          0    0.857008           0     98.0          7          -1
4802          0    1.929883           0     90.0          7          -1

[4801 rows x 6 columns]

**Results**
> We ended up dropping ```status_code```

In [18]:
model2 = LinearRegression()
model2.fit(X2, y)
print(f"intercept: {model2.intercept_}")
print(f"slope: {model2.coef_}")

intercept: 3.990725386995707
slope: [-5.52586773e-09  8.41582300e-03  7.68786442e-10  1.83222452e-02
  6.37634719e-03  2.45542874e-03]

In [19]:
m2_score = model2.score(X2, y)
m2_score

0.19602961462044644

In [20]:
m2_score - m1_score

-4.801950275745703e-06

### 11. Recursive feature elimination with linear regression:

In [21]:
from sklearn.feature_selection import RFE

Rank all features, i.e continue the elimination until the last one
```
rfe = RFE(lr, n_features_to_select=1)
rfe.fit(X,Y)
```

In [22]:
model3 = LinearRegression()
rfe = RFE(model3, n_features_to_select=1)
rfe.fit(X, y)

rfe.ranking_

array([6, 4, 7, 2, 3, 1, 5])

#### Print Features sorted by their rank

In [23]:
rank = pd.DataFrame({
    "name": X.columns.to_list(),
    "rank": rfe.ranking_
})
rank.set_index("name", inplace=True)
rank.sort_values(by=["rank"])

             rank
name
status_code     1
runtime         2
lang_code       3
popularity      4
genre_code      5
budget          6
revenue         7

#### Calculate the score after applying linear regression on the new set

In [24]:
X3 = pd.DataFrame({
    "status_code": X.status_code
})
X3

      status_code
0               1
1               1
2               1
3               1
4               1
...           ...
4798            1
4799            1
4800            1
4801            1
4802            1

[4801 rows x 1 columns]

In [25]:
model3.fit(X3, y)
m3_score = model3.score(X3, y)
m3_score

6.52812337114117e-05

In [26]:
m3_score - m1_score

-0.19596913533701077