# DAT 203 - Lab Assignment #3

- Author: Colin Bowers
- Date: May 27, 2023

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sklearn as sk

In [2]:
import json
def get_data(column, df, key):
    df_temp = pd.DataFrame([])
    for i in column:
        json_data = json.loads(i)
        df1 = pd.DataFrame.from_dict(json_data)
        if len(i) > 2:
            df2 = pd.DataFrame([df1[key][0]])
        else:
            df2 = df1
        df_temp = pd.concat([df_temp, df2], ignore_index=True)

    df = pd.concat([df, df_temp], axis=1)
    return df

## PART I

### 1. Import csv dataset (MOVIE DATASET)

In [3]:
df = pd.read_csv("data/tmdb_5000_movies.csv")

In [4]:
df.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bondâ€™s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

### 2. Identify what features have missing values

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4803 non-null   int64
 1   genres                4803 non-null   object
 2   homepage              1712 non-null   object
 3   id                    4803 non-null   int64
 4   keywords              4803 non-null   object
 5   original_language     4803 non-null   object
 6   original_title        4803 non-null   object
 7   overview              4800 non-null   object
 8   popularity            4803 non-null   float64
 9   production_companies  4803 non-null   object
 10  production_countries  4803 non-null   object
 11  release_date          4802 non-null   object
 12  revenue               4803 non-null   int64
 13  runtime               4801 non-null   float64
 14  spoken_languages      4803 non-null   object
 15  status                4803 non-null   object
 16  tagline               3959 non-null   object
 17  title                 4803 non-null   object
 18  vote_average          4803 non-null   float64
 19  vote_count            4803 non-null   int64
dtypes: float64(3), int64(4), object(13)
memory usage: 750.6+ KB

> **Features with missing values:**
>
> 1. homepage
> 2. overview
> 3. release_date * 
> 4. runtime * 
> 5. tagline
>
> (*) numeric fields

### 3. Replace missing values with 0

In [6]:
df2 = df.fillna(0)
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4803 non-null   int64
 1   genres                4803 non-null   object
 2   homepage              4803 non-null   object
 3   id                    4803 non-null   int64
 4   keywords              4803 non-null   object
 5   original_language     4803 non-null   object
 6   original_title        4803 non-null   object
 7   overview              4803 non-null   object
 8   popularity            4803 non-null   float64
 9   production_companies  4803 non-null   object
 10  production_countries  4803 non-null   object
 11  release_date          4803 non-null   object
 12  revenue               4803 non-null   int64
 13  runtime               4803 non-null   float64
 14  spoken_languages      4803 non-null   object
 15  status                4803 non-null   object
 16  tagline               4803 non-null   object
 17  title                 4803 non-null   object
 18  vote_average          4803 non-null   float64
 19  vote_count            4803 non-null   int64
dtypes: float64(3), int64(4), object(13)
memory usage: 750.6+ KB

### 4. Split dataset into training and test datasets in 0.7/0.3

In [7]:
from sklearn.model_selection import train_test_split

train, test = train_test_split(df2, test_size=0.3)
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3362 entries, 1080 to 941
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                3362 non-null   int64
 1   genres                3362 non-null   object
 2   homepage              3362 non-null   object
 3   id                    3362 non-null   int64
 4   keywords              3362 non-null   object
 5   original_language     3362 non-null   object
 6   original_title        3362 non-null   object
 7   overview              3362 non-null   object
 8   popularity            3362 non-null   float64
 9   production_companies  3362 non-null   object
 10  production_countries  3362 non-null   object
 11  release_date          3362 non-null   object
 12  revenue               3362 non-null   int64
 13  runtime               3362 non-null   float64
 14  spoken_languages      3362 non-null   object
 15  status                3362 non-null   object
 16  tagline               3362 non-null   object
 17  title                 3362 non-null   object
 18  vote_average          3362 non-null   float64
 19  vote_count            3362 non-null   int64
dtypes: float64(3), int64(4), object(13)
memory usage: 551.6+ KB

### 5. Select all numerical features that can be used to predict â€˜vote averageâ€™ target

In [8]:
numeric = df.dtypes[df.dtypes != "object"].index
print(numeric)
predictors = [ "budget", "popularity", "revenue", "runtime" ]

train.loc[:, predictors]

Index(['budget', 'id', 'popularity', 'revenue', 'runtime', 'vote_average',
       'vote_count'],
      dtype='object')

         budget  popularity    revenue  runtime
1080          0   11.872841          0    133.0
2589          0    8.710294          0     87.0
11    200000000  107.928811  586090727    106.0
3910          0   14.936661     229094     84.0
53    185000000   75.674458  786636033    122.0
...         ...         ...        ...      ...
3472          0    8.483531          0    122.0
1606   30000000   10.608998   84646831     84.0
709    60000000   28.800112  204594016    133.0
892    52000000   40.066880  116112375    178.0
941    50000000   42.526529   69411370    144.0

[3362 rows x 4 columns]

### 6. Add three categorical features (for example, original language, status and genres) and transform them into numerical

In [9]:
train = get_data(train['genres'], train, 'name')
train.rename(columns={0: "genre"}, inplace=True)
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4357 entries, 1080 to 3334
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                3362 non-null   float64
 1   genres                3362 non-null   object
 2   homepage              3362 non-null   object
 3   id                    3362 non-null   float64
 4   keywords              3362 non-null   object
 5   original_language     3362 non-null   object
 6   original_title        3362 non-null   object
 7   overview              3362 non-null   object
 8   popularity            3362 non-null   float64
 9   production_companies  3362 non-null   object
 10  production_countries  3362 non-null   object
 11  release_date          3362 non-null   object
 12  revenue               3362 non-null   float64
 13  runtime               3362 non-null   float64
 14  spoken_languages      3362 non-null   object
 15  status                3362 non-null   object
 16  tagline               3362 non-null   object
 17  title                 3362 non-null   object
 18  vote_average          3362 non-null   float64
 19  vote_count            3362 non-null   float64
 20  genre                 3341 non-null   object
dtypes: float64(7), object(14)
memory usage: 748.9+ KB

In [10]:
train["original_language"] = train["original_language"].astype('category')
train["lang_code"] = train["original_language"].cat.codes

train["status"] = train["status"].astype('category')
train["status_code"] = train["status"].cat.codes

train["genre"] = train["genre"].astype('category')
train["genre_code"] = train["genre"].cat.codes

predictors += ["lang_code", "status_code", "genre_code"]
print(predictors)

train.info()

['budget', 'popularity', 'revenue', 'runtime', 'lang_code', 'status_code', 'genre_code']
<class 'pandas.core.frame.DataFrame'>
Int64Index: 4357 entries, 1080 to 3334
Data columns (total 24 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                3362 non-null   float64
 1   genres                3362 non-null   object
 2   homepage              3362 non-null   object
 3   id                    3362 non-null   float64
 4   keywords              3362 non-null   object
 5   original_language     3362 non-null   category
 6   original_title        3362 non-null   object
 7   overview              3362 non-null   object
 8   popularity            3362 non-null   float64
 9   production_companies  3362 non-null   object
 10  production_countries  3362 non-null   object
 11  release_date          3362 non-null   object
 12  revenue               3362 non-null   float64
 13  runtime               3362 non-null   float64
 14  spoken_languages      3362 non-null   object
 15  status                3362 non-null   category
 16  tagline               3362 non-null   object
 17  title                 3362 non-null   object
 18  vote_average          3362 non-null   float64
 19  vote_count            3362 non-null   float64
 20  genre                 3341 non-null   category
 21  lang_code             4357 non-null   int8
 22  status_code           4357 non-null   int8
 23  genre_code            4357 non-null   int8
dtypes: category(3), float64(7), int8(3), object(11)
memory usage: 674.4+ KB

### 7. Fill the training and test data with required information:

In [11]:
all_features = predictors + ["vote_average"]
train2 = train[all_features].dropna()
train2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3362 entries, 1080 to 941
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   budget        3362 non-null   float64
 1   popularity    3362 non-null   float64
 2   revenue       3362 non-null   float64
 3   runtime       3362 non-null   float64
 4   lang_code     3362 non-null   int8
 5   status_code   3362 non-null   int8
 6   genre_code    3362 non-null   int8
 7   vote_average  3362 non-null   float64
dtypes: float64(5), int8(3)
memory usage: 167.4 KB

### 8. Import linear regression function from sklearn:

In [12]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [13]:
X = train2[predictors]
y = train2["vote_average"]
X.head()

,budget,popularity,revenue,runtime,lang_code,status_code,genre_code
1080,0.0,11.872841,0.0,133.0,7,1,0
2589,0.0,8.710294,0.0,87.0,7,1,0
11,200000000.0,107.928811,586090727.0,106.0,7,1,0
3910,0.0,14.936661,229094.0,84.0,7,1,-1
53,185000000.0,75.674458,786636033.0,122.0,7,1,0

In [14]:
model.fit(X, y)
print(f"intercept: {model.intercept_}")
print(f"slope: {model.coef_}")

intercept: 4.066880618095183
slope: [-5.66605002e-09  8.27528987e-03  8.02876206e-10  1.85017462e-02
  9.17824643e-03 -1.09387989e-01  3.04626456e-03]

### 9. Print the score of your model.

In [15]:
m1_score = model.score(X, y)
m1_score

0.19925768611966066

## PART II

### 10. Remove features with low variance and apply linear regression:

In [16]:
from sklearn.feature_selection import VarianceThreshold

In [17]:
sel = VarianceThreshold(threshold=(.8 * (1 - .8))) 
#X2 = sel.fit_transform(X)
sel.fit(X)
new_cols = sel.get_support()
X2 = X.iloc[:,new_cols]
X2

           budget  popularity      revenue  runtime  lang_code  genre_code
1080          0.0   11.872841          0.0    133.0          7           0
2589          0.0    8.710294          0.0     87.0          7           0
11    200000000.0  107.928811  586090727.0    106.0          7           0
3910          0.0   14.936661     229094.0     84.0          7          -1
53    185000000.0   75.674458  786636033.0    122.0          7           0
...           ...         ...          ...      ...        ...         ...
3472          0.0    8.483531          0.0    122.0          7          -1
1606   30000000.0   10.608998   84646831.0     84.0          7           1
709    60000000.0   28.800112  204594016.0    133.0          7           1
892    52000000.0   40.066880  116112375.0    178.0          7           3
941    50000000.0   42.526529   69411370.0    144.0          7           3

[3362 rows x 6 columns]

**Results**
> We ended up dropping ```status_code```

In [18]:
model2 = LinearRegression()
model2.fit(X2, y)
print(f"intercept: {model2.intercept_}")
print(f"slope: {model2.coef_}")

intercept: 3.9565217948262266
slope: [-5.66527756e-09  8.27635412e-03  8.02613451e-10  1.85092353e-02
  9.17959978e-03  3.05776763e-03]

In [19]:
m2_score = model2.score(X2, y)
m2_score

0.19924538143206016

In [20]:
m2_score - m1_score

-1.2304687600495079e-05

### 11. Recursive feature elimination with linear regression:

In [21]:
from sklearn.feature_selection import RFE

Rank all features, i.e continue the elimination until the last one
```
rfe = RFE(lr, n_features_to_select=1)
rfe.fit(X,Y)
```

In [22]:
model3 = LinearRegression()
rfe = RFE(model3, n_features_to_select=1)
rfe.fit(X, y)

rfe.ranking_

array([6, 4, 7, 2, 3, 1, 5])

#### Print Features sorted by their rank

In [23]:
rank = pd.DataFrame({
    "name": X.columns.to_list(),
    "rank": rfe.ranking_
})
rank.set_index("name", inplace=True)
rank.sort_values(by=["rank"])

             rank
name
status_code     1
runtime         2
lang_code       3
popularity      4
genre_code      5
budget          6
revenue         7

#### Calculate the score after applying linear regression on the new set

In [24]:
X3 = pd.DataFrame({
    "status_code": X.status_code
})
X3

      status_code
1080            1
2589            1
11              1
3910            1
53              1
...           ...
3472            1
1606            1
709             1
892             1
941             1

[3362 rows x 1 columns]

In [25]:
model3.fit(X3, y)
m3_score = model3.score(X3, y)
m3_score

0.00041959866965801673

In [26]:
m3_score - m1_score

-0.19883808745000264

## Summary

In [27]:
print(" Name  |    R2")
print("----------------")
print("model  | %.5f" % m1_score)
print("model2 | %.5f" % m2_score)
print("model3 | %.5f" % m3_score)

 Name  |    R2
----------------
model  | 0.19926
model2 | 0.19925
model3 | 0.00042

## Using Test Data

In [28]:
# Transform the test data in the same way as the training data
test = get_data(test['genres'], test, 'name')
test.rename(columns={0: "genre"}, inplace=True)

test["original_language"] = test["original_language"].astype('category')
test["lang_code"] = test["original_language"].cat.codes

test["status"] = test["status"].astype('category')
test["status_code"] = test["status"].cat.codes

test["genre"] = test["genre"].astype('category')
test["genre_code"] = test["genre"].cat.codes

test = test[all_features].dropna()

test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1441 entries, 4412 to 734
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   budget        1441 non-null   float64
 1   popularity    1441 non-null   float64
 2   revenue       1441 non-null   float64
 3   runtime       1441 non-null   float64
 4   lang_code     1441 non-null   int8
 5   status_code   1441 non-null   int8
 6   genre_code    1441 non-null   int8
 7   vote_average  1441 non-null   float64
dtypes: float64(5), int8(3)
memory usage: 71.8 KB

In [29]:
m1_pred = model.predict(test[predictors])

In [30]:
from sklearn.metrics import mean_squared_error, r2_score

print("Mean Squared Error (MSE): %.3f" % mean_squared_error(test["vote_average"], m1_pred))
print("Coefficient of Determination (R2): %.3f" % r2_score(test["vote_average"], m1_pred))

Mean Squared Error (MSE): 1.128
Coefficient of Determination (R2): 0.189